<h4 class="center-title">This is the index route where we see all the users</h4>
<div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
  {{#each users as |user index|}}
    {{#paper-card}}
      {{user-card user=user index=index saveUser=(action "saveUser")}}
    {{/paper-card}}
  {{/each}}
</div>
